.side-nav {
    margin-top: 75px;
    z-index: 3;
    padding-top: 10px;
    position: relative;
    width: 200px;
}

a.collapsible-header.Ripple-parent.arrow-r {
    height: 50px;
    font-size: 14px;
}

.collapsible {
    margin-right: 0;
}

.fa-angle-down:before {
    content: none;
}

#sidenav-site {
    padding-left: 40px;
}

.add-site {
    bottom: 75px;
    position: absolute;
}

